body {
  margin: 0;
  padding: 0;

  /* sidebar 오버플로우 */
  overflow: hidden;
  @media screen and (min-width: 1023px) {
    background-image: url("./img/dot.png"), url("./img/dot.png");
    background-size: 16%, 16%;
    background-position: left top, right 82%;
    background-repeat: no-repeat;
  }
}
* {
  box-sizing: border-box;
}
